# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3

# Environment Variables
.env

# Media Files
media/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log